html,
body {
  width: 100%;
}
#front-page {
  width: 100%;
}

.GeneratedMarquee {
    font-family:Corbel, sans-serif;
    font-size:2em;
    line-height:1.3em;
    color:#99CCFF;
    background-color:#f8f8f4;
    padding:3px;
    margin:auto;
    
    }


.flex-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
} 
    

.flex-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}
.test {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.flex-container2 {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}
#nav-logo {
  margin-top: 10px;
  margin-right: 60px;
  width: 100%;
}

input,
button {
  color: #64bbf0;
  font-family: Nunito;
  font-size: 30px;
  margin-left: 2%;
  border: 0;
  background-color: transparent;
}
#secUp {
  display: flex;
  border-bottom: solid 3px #7d79ce;
}
.sko-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.material-icons{
    margin-left: 20px;
    
    
}
.icons-bar{
    margin-top: 20px;
    margin-left: 700px;
}

a{
    text-decoration: none;
   color: #5F696F;
}
select{
    float: right;
}
 #selSorter{
     color: #5F696F;
     text-decoration: unset;
     padding: 2px;
     margin-left: 10%;
     width: 130px;
    height: 20px;
    margin-top: 40px; ;
     
 }
 

 #realise{
     margin-left:10%;
     width: 80%;

  margin-left: 10%;
}

#realise {
  margin-left: 10%;
  width: 80%;
}
h1 {
  margin-left: 70px;

  color: #64bbf0;
}

h2 {
  color: #64bbf0;
}
h3 {
  color: #5f696f;
}
h3:hover {
  text-decoration: underline solid #5f696f 4px;
}
.navlink:hover {
  text-decoration: underline solid #5f696f 4px;
}
.navlink:active {
  text-decoration: underline solid #5f696f 4px;
}
#price {
  text-decoration: none;
  font-size: 20px;
  color: #64bbf0;
  font-family: "Times New Roman", Times, serif;
}
#text-fp {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
}
#click-here {
  display: flex;
  justify-content: center;
}
#click-here:hover {
  text-decoration: underline solid #5f696f 4px;
}

footer{
    background-image:url(/pictures/pastel-blue2.jpg);
}
.foot{
    margin-bottom: 0%;
}
.pls{
    display: flex;
    margin: 0%;
}
.flexfooter{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    margin-bottom: 0%;
    padding-right: 20px;
}
.parfooter{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #363c3f;
    margin: 5%;
    width: 50%;
    margin-right: 30%;
    margin-bottom: 20%;
    margin-top: 0%;
}
.words{
    color: rgb(218, 56, 170);  
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: right;
  float: right;
  margin: 0%;
  margin-right: 5%;
}
.socials img {
  width: 80%;
}

.recommended {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}

#rec-title {
  margin: 5%;
}
#front-page,
.Vans img,
.Dunk img,
.Jordan img,
.Nike img,
.Adidas img,
.arrivals img,
.recommended img {
  width: 100%;
}
.Nike,
.Vans,
.Dunk,
.Jordan,
.Adidas,
.arrivals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-self: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  bottom: 0;
}
.main-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a a c"
    "b b c";
  gap: 2%;
}
.main-image {
  grid-area: a;
}
.main-image #main-image {
  width: 100%;
}
.main-image #brandLogo {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
}
.underside-grid1 {
  grid-area: b;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2%;
}
.underside-grid1 img {
  width: 100%;
  margin: 0%;
}
.grid-right {
  grid-area: c;
  margin-right: 5%;
}
.grid-right h2 {
  font-size: 48px;
}
.grid-right img {
  float: left;
  width: 40%;
}
.grid-right p {
  font-size: 20px;
}
.grid-right hr {
  height: 2px;
  border: none;
}
.price {
  font-size: 34px;
}
.Sizes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.Sizes button {
  border: solid #64bbf0 3px;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 0;
}

#addtocart {
  width: 100%;
  padding: 0;
  margin: 5px;
  border: solid #64bbf0 3px;
}
.footer-mini {
  display: flex;
  justify-content: space-evenly;
}
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;

}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #64bbf0;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #64bbf0;
  font-size: 12px;
}
td img{
  width: 100%;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #7d79ce;
  width: 100%;
  max-width: 400px;
}
td:last-child{
  text-align: right;
}
.slider{
  display: flex;
  max-width: 1150px;
 
  

}
#rec-title{
  display: flex;
  max-width: 1150px;
}

 .btn{
background: #64bbf0;
color: white;
border: none;
cursor: pointer;
transition: 0.2s;
font-size: 15px;
width: 80px;
height: 20px;
border-radius: 5px;
margin-left: 0;
}
 .btn:hover{
  transform: scale(0.9);
 }
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
