#front-page{
width: 100%;
}




.flex-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    
    

}
.test{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.flex-container2{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}
#nav-logo {
    margin-top: 30px;
    width: 100%;
}
button{
    padding-bottom: 13px;
    padding-left: 10%;
    display: inline;
}

input, button{
    color: #64bbf0;
    font-family: Nunito;
    font-size: 30px;
    margin: 0;
    border: 0;
    background-color: transparent;
}
.secUp{
    display: flex;
}
button:actvie{
    color: #7d79ce;
 }
a{
    text-decoration: none;
   color: #5F696F;
}
a:hover{
    text-decoration: underline solid #5F696F;
 }
 a:actvie{
    text-decoration: underline solid #5F696F;
 }

 #realise{
     margin-left:10%;
     width: 80%;

 }
 h1{
    margin-left: 70px;

     color: #64bbf0;
 }

 h2{
    color: #5F696F;
 }
 h3{
    color: #5F696F;
 }
 h3:hover{
    text-decoration: underline solid #5F696F 4px;
 }
 #text-fp{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 5%;
     margin-right: 20%;
     margin-left: 20%;
     margin-bottom: 5%;
 }
 #click-here{
     margin-right: 20%;
 }
.recommended{
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    
    
}
.recommended img{
    width: 100%;

}


#rec-text{
    margin-left: 20%;
}
.arrivals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    margin: 20px;
}
.arrivals img{
    width: 100%;
}
.Adidas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
}
.Adidas img{
    width: 100%;
}
.Jordan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
}
.Jordan img{
    width: 100%;
}
.Dunk{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 20px;
    margin: 20px;
}
.Dunk img{
    width: 100%;
}
.Vans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
}
.Vans img{
    width: 100%;
}
.Nike{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
}
.Nike img{
    width: 100%;
}

.underside-grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-gap: 2%;
    margin: 20px;
    padding: 0%;
    
}
.underside-grid1 img{
    width: 100%;
    margin: 0%;
    padding: 0;
}
.box{
    margin: 0%;
    padding: 0;
}
